# Python cache
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
env/

# Environment variables
.env

# IDE files
.vscode/

# OS files
.DS_Store
Thumbs.db

# Test and cache files
.pytest_cache/
.streamlit/secrets.toml